<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Contacts
    </ion-title>
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon slot="end" name="add"></ion-icon>

      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

<!-- Segment with secondary color -->
<ion-segment (ionChange)="segmentChanged($event)" color="secondary">
  <ion-segment-button segment="all" >
    <ion-label>All</ion-label>
  </ion-segment-button>
  <ion-segment-button segment="friends">
    <ion-label>Friends</ion-label>
  </ion-segment-button>
  <ion-segment-button tab="familly">
    <ion-label>Familly</ion-label>
  </ion-segment-button>
</ion-segment>

</ion-content>
